DropÂ <span style="color: var(--vscode-foreground);">Tables</span>

In [11]:
--- DROP TABLES ---
--- Spreadsheet Metadata ---
DROP TABLE UserHasSpreadsheet;
DROP TABLE ColumnConfig;
DROP TABLE SpreadsheetConfig;
--- UserAccount ---
DROP TABLE UserAccount;
--- UploadStatus ---
DROP TABLE UploadStatus;
--- DemoTable ---
DROP TABLE demo_table;

Drop Dynamic Tables

In [12]:
--- DROP DYNAMIC ---
DECLARE @cmd varchar(4000)
DECLARE cmds CURSOR FOR
SELECT 'drop table [' + Table_Name + ']'
FROM INFORMATION_SCHEMA.TABLES
WHERE Table_Name LIKE 'dynamic%'

OPEN cmds
WHILE 1 = 1
BEGIN
    FETCH cmds INTO @cmd
    IF @@fetch_status != 0 BREAK
    EXEC(@cmd)
END
CLOSE cmds;
DEALLOCATE cmds

Create Tables

In [13]:
--- CREATE TABLES ---
--- UserAccount ---

CREATE TABLE UserAccount (
	id UNIQUEIDENTIFIER NOT NULL,
	username NVARCHAR(255) NOT NULL,
	email NVARCHAR(255) NULL,
	email_confirmed BIT NOT NULL,
	password_hash NVARCHAR(MAX) NULL,
	PRIMARY KEY(id)
);

--- Spreadsheet Config --- 

CREATE TABLE SpreadsheetConfig (
	id INT NOT NULL IDENTITY PRIMARY KEY,
	name NVARCHAR(64) NOT NULL, 
	url_id VARCHAR(11) NOT NULL, 
	creation_date DATE NOT NULL, 
	type_spreadsheet NVARCHAR(64) NOT NULL,
	dynamic_table_name NVARCHAR(64) NULL,
	total INT NULL,
);

CREATE TABLE ColumnConfig (
	spr_id INT NOT NULL,
	col_id INT NOT NULL,
	col_order INT NOT NULL,
	col_name_web NVARCHAR(64) NOT NULL,
	col_type NVARCHAR(64) NOT NULL,
	PRIMARY KEY(spr_id, col_id),
	FOREIGN KEY (spr_id) REFERENCES SpreadsheetConfig(id)
);

CREATE TABLE UserHasSpreadsheet (
	usr_id UNIQUEIDENTIFIER NOT NULL,
	spr_id INT NOT NULL,
	permission NVARCHAR(64) NULL,
	PRIMARY KEY(usr_id, spr_id),
	FOREIGN KEY(usr_id) REFERENCES UserAccount(id),
	FOREIGN KEY(spr_id) REFERENCES SpreadsheetConfig(id)
);

--- UploadStatus ---

CREATE TABLE UploadStatus (
	uploadId VARCHAR(11) NOT NULL,
	status NVARCHAR(20) NOT NULL,
	value_percent INT NULL DEFAULT 0,
	location NVARCHAR(100) NULL,
	PRIMARY KEY(uploadId)
)

Creation of dynamic demo\_table

In [14]:
INSERT INTO SpreadsheetConfig VALUES ('demo spreadsheet', '12345678901', GETDATE(), 'demo', 'demo_table', 16);

INSERT INTO ColumnConfig VALUES 
(1, 1, 1, 'index', 'Text'),
(1, 2, 2, 'name', 'Text'),
(1, 3, 3, 'ssn_old', 'Text'),
(1, 4, 4, 'ssn_new', 'Text'),
(1, 5, 5, 'job', 'Text'),
(1, 6, 6, 'description', 'Text');

In [15]:
CREATE TABLE demo_table 
(
    ID_P INT IDENTITY NOT NULL,
    col1	NVARCHAR(64),
    col2	NVARCHAR(64),
    col3	NVARCHAR(64),
    col4	NVARCHAR(64),
    col5	NVARCHAR(64),
    col6	NVARCHAR(MAX),
    PRIMARY KEY(ID_P)
);

INSERT INTO demo_table VALUES ('0', 'Ryan Gallagher', '262-16-8118', '891-47-9339', 'Museum education officer', 'Behind agreement structure item several able knowledge return.');
INSERT INTO demo_table VALUES ('1', 'Tony Valenzuela', '032-03-0417', '667-70-0151', 'Museum/gallery curator', 'Why rise month shake voice need generation quality.');
INSERT INTO demo_table VALUES ('2', 'Tiffany House', '427-72-1639', '262-16-8118', 'Community arts worker', 'Time wind may whose medical travel couple exist wind material.');
INSERT INTO demo_table VALUES ('3', 'Jennifer Castaneda', '013-79-0239', '427-72-1639', 'Medical technical officer', 'Third simply scene beat professional blue clear style have run light final summer.');
INSERT INTO demo_table VALUES ('4', 'Laura Holland', '173-65-3719', '013-99-3269', 'Solicitor, Scotland', 'Discussion message weight official learn especially nature whatever accept situation star though scientist.');
INSERT INTO demo_table VALUES ('5', 'Kelly Hoffman', '437-08-7883', '891-47-9339', 'Surveyor, building', 'Wait including spend increase ability music skill former.');
INSERT INTO demo_table VALUES ('6', 'Regina Reid', '564-75-2962', '882-12-9029', 'Freight forwarder', 'Success pull bar admit address sense.');
INSERT INTO demo_table VALUES ('7', 'Brian Weber', '748-66-3426', '172-21-4182', 'Secretary, company', 'Prevent possible family reflect market box find gas.');
INSERT INTO demo_table VALUES ('8', 'Deanna King', '748-66-3426', '621-56-0342', 'Equality and diversity officer', 'However along whether knowledge media interview.');
INSERT INTO demo_table VALUES ('9', 'Vanessa Mccoy', '161-26-5370', '229-68-0503', 'Nutritional therapist', 'Sound process international scene call deep answer audience baby true fear citizen north.');
INSERT INTO demo_table VALUES ('10', 'Justin Jefferson', '605-28-9344', '472-22-8338', 'Applications developer', 'Customer between of to option manage visit hope mean admit.');
INSERT INTO demo_table VALUES ('11', 'Jennifer Campbell', '161-26-5370', '831-73-2215', 'Librarian, academic', 'Defense purpose study usually gas think reach machine world doctor rise.');
INSERT INTO demo_table VALUES ('12', 'Christopher Bartlett', '219-35-5444', '615-65-4183', 'Mental health nurse', 'Future fact test page west thought career necessary bit always.');
INSERT INTO demo_table VALUES ('13', 'Sean French', '849-17-5586', '229-68-0503', 'Multimedia specialist', 'Number difference bank entire three north.');
INSERT INTO demo_table VALUES ('14', 'Judith Ramirez', '806-06-4846', '013-79-0239', 'Chemist, analytical', 'Boy those always dream write inside break cold drop season bill.');
INSERT INTO demo_table VALUES ('15', 'Jamie Cordova', '838-38-9015', '260-92-7816', 'International aid/development worker', 'Debate fish agree skin understand risk floor.');